version: "3.9"

services:
  db:
    image: postgres:18
    container_name: db
    environment:
      POSTGRES_PASSWORD: 2003
      POSTGRES_USER: admin
      POSTGRES_DB: ecom
    networks:
      - my-network
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    networks:
      - my-network
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped

networks:
  my-network:
    driver: bridge

volumes:
  db-data:
  pgadmin-data:
